@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reporting server use devexpress. Env backend server!</h1>
    <p>Version 1: use controller /ReportView?Reportname={Reportname}&values={Parameter} </p>
    <p>Run React application now</p>
</div>
